* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Times New Roman,Times,serif;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.home,
.dashboard,
.contact,
.portfolio{
  padding-top: 90px;
  display: flex;
  min-height: calc(100vh - 190px);
  width: calc(100% - 250px);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  overflow: scroll;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-top: 90px;
  width: 250px;
  background-color: #59ce8f;
  min-height:calc(100vh - 90px);
  position: fixed;
  right: 0;
  z-index: 999;
  overflow: scroll;
}

.SidebarList {
  height: 100%;
  width: 100%;
}

.SidebarList a {
  text-decoration: none;
}

.SidebarList .row {
  margin:10px;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #2eaa68;
}

.event{
  margin: 0px 30px ;
  width: calc(100% - 300px);
  padding: 90px 0px 30px  0px ;
  overflow: scroll;
  box-sizing: inherit;
  display: block;
  font-size: 20px;
  position: relative;
  min-height: calc(100vh - 190px);
}

.event img{
  border-radius: 10px;
}

.event .small{
  width: 700px;
  height:100px;
}

.event .medium {
  width: 700px;
  height: 150px;
}

.event .large {
  width: 700px;
  height: 400px;
}

.footer {
  color: white;
  width: calc(100vw - 250px);
  background-color: black;
  height: 100px;
  display: grid;
  list-style: none;
  text-align: center;
  position:relative;
  padding-top: 10px;
}


.navbar {
  background: black;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  z-index: 999;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.navbar img {
  width: 80px;
  height: 60px;
}

.navbar span {
  padding: 10px;
  font-size: 40px;
  color: white;
}

.navmenu {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
  width: 70vw;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #59ce8f;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}